@import "src/shared/styles/global-variables.scss";
@import "src/shared/styles/base64-icons.scss";

#container{
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .balance{
        margin: 0 $bank-card-content-margin-x;
    }

    .balance{
        margin-top: $bank-card-content-margin-y*2+20px;

        .currency, .int, .coins{
            display: inline;
            font-size: $bank-card-balance-font-size;
        }
        .currency{
            color: $bank-card-currency-color;
            margin-right: 0.4em;
        }
        .plain-text{
            font-size: $bank-card-plain-text-size;
        }
        .int{
            display: none;
        }
    }     

    .button-more{
        height: $bank-card-balance-font-size;
        width: 45px;
        background-image: $arrow-down-172;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        
        &:hover{
            opacity: 0.8;
            cursor: pointer;
        }
    }
}

.background{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: $bank-card-background-opacity;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    background-image: $paper-money-172;
}