<div class="background"></div>
<div id='container'>
    <div class="balance">
        <div class="plain-text">{{ "AccountControl.Account.Balance" | translate }}</div>
        <div class="currency">{{ account.accountBalance.currencyCode }}</div>
        <div class="int">{{ account.accountBalance.getBalanceWithoutCoins() }}</div>
        <div class="coins">{{ account.accountBalance.getBalanceWithCoins() }}</div>
    </div>
    <div class="card-details">
        <div class="card-number">{{ account.cardNumber }}</div>
        <div class="valid-thru">{{ account.validThru }}</div>
    </div>
</div>