@import "src/shared/styles/global-variables.scss";

#container{
    height: 100%;
    position: relative;
    background: $bank-card-list-background;

    &:hover{
        // .cover-bar {
        //     opacity: 0;
        // }
        .v-scroll{
            overflow-y: overlay;
        }
    }
}

.card-list{
    padding: 0 $bank-card-margin*2-$scrollbar-width/2 0 $bank-card-margin*2;
    height: 100vh;
    min-width: 342px !important;
    box-shadow: $bank-card-list-shadow;
}

.account-card{
    margin: $bank-card-margin;
}

.add-button{
    color: $func-button-text;
    min-height: $func-button-height;
    width: $func-button-width;
    background: $func-button-background;
    border-radius: $func-button-border-radius;
    position: absolute;
    bottom: $func-button-height/2;
    left: calc(50% - 25px);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
        cursor: pointer;
        box-shadow: $func-button-hover-shadow;
        transition: $func-button-transition;
    }
}

.v-scroll{
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: $scrollbar-width;
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        overflow: overlay;
        background-color: $scrollbar-thumb-color;
        border-radius: $scrollbar-thumb-border-radius;
    }
}

// .cover-bar {
//     position: absolute;
//     background: $background-light-gray;
//     top: 0;
//     right: 0;
//     height: 100%;  
//     width: $scrollbar-width;
    
//     opacity: 1;
//     transition: all 0.3s;
//     -webkit-transition: all 0.3s;
// }