/* --- common --- */


$app-color1: #e66465;
$app-color2: #9198e5;
$app-color3: #b83e74;//#a52a2a;
$app-color4: #06bec3;

$regular-font: sans-serif;
$font-color-light: #fff;
$font-color-dark: #000;

$background-light: #fff;
$background-light-gray: #f6f6f6;
$gradient-background: linear-gradient(217deg, $app-color1, $app-color2);
$border-radius: 25px;

/* --- authentication page --- */

$auth-page-background-color: $background-light-gray;
$auth-form-background: $gradient-background;
$auth-page-shapes-color: $background-light;
$auth-page-shadow: -5px 5px 32px #9b9b9b;
$auth-page-shadow-active: -5px 5px 32px $app-color1;
$networks-facebook-shadow-active:
0px -15px 20px -5px rgba(66, 133, 243, 0.6),
0px 15px 20px -5px rgba(66, 133, 243, 0.6), 
15px 0px 15px -5px rgba(66, 133, 243, 0.6), 
-15px 0px 15px -5px rgba(66, 133, 243, 0.5);
$networks-google-shadow-active: 
0px -15px 20px -5px  rgba(#ea4335, 0.5), /* top */
0px  15px  20px -5px  rgba(#34a853, 0.5), /* bottom */
15px  0px  15px -5px  rgba(#4285f3, 0.5), /* right */
-15px  0px  15px -5px  rgba(#fbbc05, 0.5);
$networks-twitter-shadow-active:
0px -15px 20px -5px rgba(29, 202, 255, 0.6),
0px 15px 20px -5px rgba(29, 202, 255, 0.6), 
15px 0px 15px -5px rgba(29, 202, 255, 0.6), 
-15px 0px 15px -5px rgba(29, 202, 255, 0.5);

$networks-facebook-color: #3b5998;
$networks-google-color1: #4285f3;
$networks-google-color2: #34a853;
$networks-google-color3: #fbbc05;
$networks-google-color4: #ea4335;
$networks-google-color5: #fff;
$networks-twitter-color: #1dcaff;

/* --- bank card style --- */

$bank-card-margin: 5px;
$bank-card-width: 336px;
$bank-card-height: 232px*0.9;
$bank-card-shadow: 0 0 8px #4c4c4c;
$bank-card-border-radius: 10px;
$monobank-card-background: rgb(19, 19, 19);
$bank-card-background-opacity: 0.25;
$bank-card-plain-text-color: #fff;
$bank-card-content-margin-y: 25px;
$bank-card-content-margin-x: 30px;
$bank-card-name-font-size: 11pt;
$bank-card-plain-text-size: 9pt;
$bank-card-balance-font-size: 16pt;
$bank-card-number-font-size: 10pt;
$bank-card-currency-color: $app-color4;
$bank-card-list-shadow: -13px 0px 17px 10px #3d3d3d;//-4px 0 8px 0px #4c4c4c;
$bank-card-list-background: $gradient-background;

/* --- scrollbar style --- */

$scrollbar-width: 5px;
$scrollbar-background: transparent;
$scrollbar-thumb-color: rgba(#000, 0.2);
$scrollbar-thumb-border-radius: 10px;
$scrollbar-thumb-transition: visibility 5s;
$scrollbar-track-shadow: inset 0 0 6px rgba(0,0,0,0.3);

/* --- func button style --- */

$func-button-width: 50px;
$func-button-height: 50px;
$func-button-text: $font-color-light;
$func-button-background: $app-color3;
$func-button-border-radius: $border-radius;
$func-button-hover-shadow: 0 0 5px $app-color1;
$func-button-transition: all 0.5;