@import "src/shared/styles/global-variables.scss";

#container{
    height: 100%;
    display: grid;
    grid-template-columns: 360px 1fr;
    background: $background-light-gray;
    
    .chart{
        &.incomes{
            grid-row: 1;
            grid-column: 1;
        }
        &.costs{
            grid-row: 1;
            grid-column: 2;
        }
    }

    .transaction-history{
        grid-row: 2;
        grid-column: 1 / span 2;
    }

    .content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 270px 1fr;
        column-gap: $account-page-component-margin*2;
        row-gap: $account-page-component-margin*2;
        padding: $bank-card-margin*4 $account-page-component-margin;
    }
}

app-account-card-list{
    background: $background-light-gray;
    min-width: $bank-card-width+$bank-card-margin*2;
    max-width: 420px;
    height: 100%;
}