@import "src/shared/styles/global-variables.scss";
@import "src/shared/styles/base64-icons.scss";

#container{
    position: relative;
    background: $monobank-card-background;
    font-family: $regular-font;
    color: $bank-card-plain-text-color;
    width: $bank-card-width;
    height: $bank-card-height;
    border-radius: $bank-card-border-radius;
    box-shadow: $bank-card-shadow;
    background-repeat: no-repeat;
    background-position: right;
    background-blend-mode: soft-light;
}

.card-name{
    position: absolute;
    font-size: $bank-card-name-font-size;
    margin: $bank-card-content-margin-y $bank-card-content-margin-x;
}

.account-content{
    position: absolute;
    height: 100%;
    width: 100%;
}