@import "src/shared/styles/global-variables.scss";
@import "src/shared/styles/base64-icons.scss";

#container{
    height: 100%;
    padding: $account-page-component-margin $account-page-component-margin*2;
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);
    border-bottom: 1px solid $background-light-gray;
    font-size: 11pt;
    
    .item{
        display: flex;
        flex-direction: column;
    }
}