@import "src/shared/styles/global-variables.scss";

html, body {
  min-height: 100vh;
  height: auto;
  margin: 0;

  div.v-scroll{
    overflow-y: overlay;

    &::-webkit-scrollbar {
        width: $scrollbar-width;
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        overflow: overlay;
        background-color: $scrollbar-thumb-color;
        border-radius: $scrollbar-thumb-border-radius;
    }
}
}